@charset "utf-8";

$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$body-bg: none !default; //#3498db !default;

$navbar-inverse-bg: #1b926c !default;
$navbar-inverse-brand-color: #fff !default;
$navbar-inverse-link-color: #eee !default;

$brand-info: #d35400 !default;

$grid-float-breakpoint: 0;

$main-color: rgba(43, 84, 126, 1); // #2B547E; // steelblue
$link-color: $main-color;
$navbar-default-color:             #eee !default;
$navbar-default-bg:                #9A1D23 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $gray-lighter !default;
$navbar-default-link-hover-color:          #6c1b17 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #6c1b17 !default;
$navbar-default-link-active-bg:            transparent !default; //darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

@import 'normalize';
@import 'bootstrap';
@import 'state_font';

body {
  background: url("/images/bg_l.png");
}

.container{
  max-width: none !important;
  width: 768px; //660px;
}

.banner {
  margin-top: 4px;
  border-bottom: 2px dashed #6c1b17;
  border-top: 2px dashed #6c1b17;
  box-shadow: 0 0 0 4px #9A1D23, 2px 1px 6px 3px rgba(10, 10, 0, 0.5);
  .navbar-brand {
    font-size: 42px;
    text-shadow: 0px 2px 3px #555;
    color: $gray-lighter;
  }
  .navbar-nav {
    margin-left: 8%;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .05em;
    li {
      margin-right: 0px;
      a {
        text-shadow: 0px 2px 3px #555;
        &:hover,
        &:focus {
          text-shadow: none;
        }
      }
      &.active {
        a {
          text-shadow: none;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0px;
}

h2.info-title {
  font-weight: 400;
  background: rgba(43, 84, 126, 1);
  color: #ddd;
  margin: 30px 4px 30px 4px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 3px;
  box-shadow: 0 0 0 4px rgba(43, 84, 126, 1), 2px 1px 6px 3px rgba(10, 10, 0, 0.5);
  position: relative;
  height: 42px;
}


h4.with_counts {
  margin: 0px;
  text-align: center;
  .counts {
    font-size: 68px;
    display: block;
  }
}

@import 'infographic/categories';
@import 'infographic/costs';
@import 'infographic/elevation';
@import 'infographic/monthlies';
@import 'infographic/states_bar';
@import 'infographic/states_map';
@import 'infographic/towing';

#loading {
  margin-top: 100px;
  #loading-state {
    width: 50px;
    display: inline-block;
    font-family: StateFaceRegular;
  }
}


.d3-tip {
  padding: 6px;
  background: $main-color;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: $main-color;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

#blog {
  margin-top: 20px;
  .row {
    margin-top: 20px;
  }
  .form-control {
    width: 200px;
  }
  .facebook {
    margin-top: 2px;
  }
}

footer {
  margin-top: 50px;
  border-top: solid 1px #ccc;
  padding-top: 12px;
  text-align: center;
  margin-bottom: 50px;
}
