@charset "utf-8";

$body-bg: none !default; //#3498db !default;

$navbar-inverse-bg: #1b926c !default;
$navbar-inverse-brand-color: #fff !default;
$navbar-inverse-link-color: #eee !default;

$brand-info: #d35400 !default;

$grid-float-breakpoint: 0;

$main-color: rgba(43, 84, 126, 1); // #2B547E; // steelblue

@import 'bootstrap';

@font-face {
  font-family: 'StateFaceRegular';
  src: url(font-path('stateface-regular-webfont.eot'));
  src: url(font-path('stateface-regular-webfont.eot') + '?#iefix') format('embedded-opentype'),
  url(font-path('stateface-regular-webfont.woff')) format('woff'),
  url(font-path('stateface-regular-webfont.ttf')) format('truetype'),
  url(font-path('stateface-regular-webfont.svg#StateFaceRegular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.container{
  max-width: none !important;
  width: 768px; //660px;
}

// #main-container {
//   background-color: #ffffff; //#ecf0f1;
// }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0px;
}

h2.info-title {
  font-weight: 400;
  background: rgba(43, 84, 126, 1);
  color: #ddd;
  margin: 30px 4px 30px 4px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 3px;
  box-shadow: 0 0 0 4px rgba(43, 84, 126, 1), 2px 1px 6px 3px rgba(10, 10, 0, 0.5);
  position: relative;
  height: 42px;
}


h4.with_counts {
  margin: 0px;
  text-align: center;
  .counts {
    font-size: 68px;
    display: block;
  }
}


@import 'infographic/states_bar';
@import 'infographic/states_map';



// was 41, 128, 185
$colors_blue: rgba(43, 84, 126,1.0), rgba(43, 84, 126,0.9), rgba(43, 84, 126,0.8), rgba(43, 84, 126,0.7), rgba(43, 84, 126,0.6), rgba(43, 84, 126,0.5), rgba(43, 84, 126,0.4), rgba(43, 84, 126,0.3), rgba(43, 84, 126,0.2), rgba(43, 84, 126,0.1), rgba(43, 84, 126,0.1), rgba(43, 84, 126,0.1), rgba(43, 84, 126,0.1);

#info-category {
  #info-category_counts {
    .category-label {
      font-size: 18px;
    }
    .category-label-count {
      font-size: 48px;
      font-weight: bold;
    }
  }


  #category-counts-list {
    ul {
      font-weight: bold;
      margin-top: 15px;
      li {
        @for $i from 1 through length($colors_blue) {
          &:nth-child(#{$i}) {
            span {
              background-color: nth($colors_blue, $i);
            }
          }
          &:hover {
            cursor: default;
          }
        }
        span {
          width: 35px;
          display: inline-block;
          margin-right: 15px;
          line-height: inherit;
        }
        margin: 0;
        padding: 5px 0;
      }
    }
  }
}
div.tooltip { position: absolute; width: 60px; height: 28px; padding: 2px; font: 12px sans-serif; background: lightsteelblue; border: 0px; border-radius: 8px; pointer-events: none; }
.arc_hover { stroke: #444; stroke-width: 3px; }





#info-monthly-cost {
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    display: none;
  }

  .y.axis {
    //display: none;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: $main-color;
    stroke-width: 4px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus circle {
    fill: none;
    stroke: $main-color;
  }

  .focus-text {
    fill: $main-color;
    background-color: #ff0000;
  }

  .dot {
    fill: $main-color;
    stroke: $main-color;
    stroke-width: 3.5px;
  }

  .area {
    fill: rgba(43, 84, 126, 0.2);
  }

  .avgText {
    fill: rgba(43, 84, 126, 0.7);
    font-size: 18px;
  }

}


.d3-tip {
  padding: 6px;
  background: $main-color;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}


.grid-line {
  stroke: rgba(43, 84, 126, 0.7);
  stroke-width: 2px;
  stroke-dasharray: 4,4;
}



#state-bubbles {
  .circle {
    fill: $main-color;
    color: #fff;
  }
}
