!!!
%html
  %head
    %meta{ :name => "viewport", :content => "width=768, maximum-scale=1.0" }

    %meta{:content => "en_US", :property => "og:locale"}/
    %meta{:content => "WatsonsWander", :property => "og:site_name"}/
    %meta{:content => "Watsons Wander Live", :property => "og:title"}/
    %meta{:content => "Watsons Wander Live", :itemprop => "name"}/
    %meta{:content => "http://live.watsonswander.com/", :property => "og:url"}/
    %meta{:content => "article", :property => "og:type"}/
    / %meta{:content => "Today marks our one year wandering-anniversary. One year ago exactly, us, our new home on wheels, and all our possessions drove down the driveway of the house that we no longer owned for the last time. One year ago today I published our first blog post, and one year ago today our journey began.", :property => "og:description"}/
    / %meta{:content => "Today marks our one year wandering-anniversary. One year ago exactly, us, our new home on wheels, and all our possessions drove down the driveway of the house that we no longer owned for the last time. One year ago today I published our first blog post, and one year ago today our journey began.", :itemprop => "description"}/
    %meta{:content => "http://live.watsonswander.com/images/featured_image.png", :property => "og:image"}/
    %meta{:content => "http://live.watsonswander.com/images/featured_image.png", :itemprop => "image"}/

    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title Watsons Wander Live
        = stylesheet_link_tag "all"
  %body
    %header.banner.navbar.navbar-default.navbar-static-top{:role => "banner"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "http://www.watsonswander.com/"} WatsonsWander
        %nav{:role => "navigation"}
          %ul#menu-primary-navigation.nav.navbar-nav
            %li.menu-who
              %a{:href => "http://www.watsonswander.com/who/"} Who
            %li.menu-what
              %a{:href => "http://www.watsonswander.com/what/"} What
            %li.menu-where
              %a{:href => "http://www.watsonswander.com/where/"} Where
            %li.menu-why
              %a{:href => "http://www.watsonswander.com/why/"} Why
    .container
      .row
        .col-xs-2
          %img.img-rounded{src: '/images/us.jpg', style: "width: 95px;"}
        .col-xs-10
          %p.lead
            Since June 2012 we have traveled the U.S. while living and working from our 25-foot Airstream. This is the data from all the places we have stayed.


    .container
      = yield

    %footer.container
      .row
        .col-xs-12
          %p
            %a{ href: '/'}Watsons Wander Live
            is a creation of
            %a{ href: 'http://wanderinglabs.com' }WanderingLabs
            and
            %a{ href: 'http://tiwatson.com' }Tim Watson
            %br/
            Find the source on
            %a{ href: 'https://github.com/tiwatson/watsonswander-live' }GitHub
            %br/
            Contact me at:
            tiwatson@gmail.com



  = javascript_include_tag  "all"
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-28864809-1', 'auto');
    ga('send', 'pageview');
    ga('create', 'UA-60119135-1', 'auto');
    ga('send', 'pageview');
