
#info-pricing

  %h2.info-title What we pay
  .row
    .col-xs-4
      %h5
        Last Night
      %h2#price_last $0.00
    .col-xs-4
      %h5
        Per Day
      %h2#per_night_fee $0.00

    .col-xs-4
      %h5
        Per Month
      %h2#per_month_fee $0.00




#info-monthly-cost
  .row
    .col-xs-12
      #info-monthly-cost-graph




#info-price-free
  / %h2.info-title No Charge

  .row

    .col-xs-3
      %h4.with_counts
        %span#percentage_free_nights.counts
        Percent Free

    .col-xs-3
      %h4.state-free-title
        Free States
      #freeStateItems

    .col-xs-3
      %h4.with_counts
        %span#walmart_count.counts
        Walmarts
