#info-current
  .row
    .col-xs-4

      %h4.with_counts
        %span#number_days.counts X
        Days

    .col-xs-4
      %h4.with_counts
        %span#number_places.counts
        Overnight Locations
    .col-xs-4
      %h4.with_counts
        %span#number_states.counts 22
        States
