#d3StateMap

  .stateMapButtons
    %a.buttonTrack.btn.btn-primary{ href: '#' }
      Track

    %a.buttonDays.btn.btn-primary{ href: '#' }
      Days

    %a.buttonCostPerDay.btn.btn-primary{ href: '#' }
      Cost

  %a.replayBox.btn.btn-primary{ href: '#' }
    .span.glyphicon.glyphicon-play
    Replay
