#d3StateMap

  .stateMapButtonBox

    .stateMapButtons.btn-group{ role: 'group' }
      %a.buttonTrack.btn.btn-default.active{ href: 'javascript: void(0);' }
        Route

      %a.buttonPoints.btn.btn-default{ href: 'javascript: void(0);' }
        Places

    .stateMapButtonContent.contentTrack
      %h5 Our Route

      %a.replayBox.btn.btn-primary{ href: 'javascript: void(0);' }
        .span.glyphicon.glyphicon-play
        Replay

    .stateMapButtonContent.contentPoints.hidden
      %h5
        Overnight Locations


