
#info-states
  %h2.info-title Top States


  .row
    .col-xs-8
      #info-states-bar
        %span.explained * Days spent in state
    .col-xs-4
      #info-state-current
        %h3
          Right Now
        #info-state-current-wrapper
          %span.current_state
            t

          %span.current_length_count 00
          %span.current_length_days Days
        %h3#current_state_text
          Loading...
