#info-current

  %h2.info-title Towing our house

  .row
    .col-xs-12
      .towing
        .towing_total
          %h4.with_counts
            Miles Towed
            %span#miles_towed.counts

  .row
    .col-xs-4
      %h4.with_counts
        Longest Drive
        %span#longest_drive.counts
      %h6
        %span#longest_drive_to
        %br/
        %span#longest_drive_to_more
        %br/
        %span#longest_drive_date

    .col-xs-4
      %h4.with_counts
        Average Drive
        %span#average_towed.counts

    .col-xs-4
      %h4.with_counts
        Shorest Drive
        %span#shortest_drive.counts
        %h6
          %span#shortest_drive_to
          %br/
          %span#shortest_drive_to_more
          %br/
          %span#shortest_drive_date
