#info-current
  .row
    .col-xs-4

      %h4.with_counts
        %span#miles_towed.counts X
        Miles Towed

    .col-xs-4
      %h4.with_counts
        Longest drive
        %span#longest_drive.counts

    .col-xs-4
      %h4.with_counts
        Shorest Drive
        %span#shortest_drive.counts
