

#d3StateMap {
  position: relative;
  margin-bottom: 24px;

  .btn {
    z-index: 1;
    position: relative;
  }

  .stateText {
    font-size: 12px;
  }

  .stateMapButtonBox {
    position: absolute;
    top: 340px;
  }
  .stateMapButtons {
    margin-bottom: 6px;
  }

  .contentPoints circle {
    fill: $main-color;
    fill-opacity: 0.25;
    stroke: $main-color;
  }

  .contentPoints text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .replayBox {
    display: block;
    margin-top: 6px;
  }

}


.background {
  fill: none;
  pointer-events: all;
}

.states {
  // fill: rgba(204, 204, 204, 1);
  stroke: #fff;
  stroke-width: 1px;
}

.line {
  stroke: $main-color;
  stroke-width: 2px;
  //stroke-dasharray: 4,2;
  fill: none;

  stroke-opacity: 1;
}

.point {
  fill: $main-color;
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0;
  &:hover {
    stroke: $main-color;
  }
}
